language: python
python:
  - "2.6"
  - "2.7"
  - "pypy"
env:
  - DJANGO_VERSION=1.4.1

install:
  - pip install -q Django==$DJANGO_VERSION
  - python setup.py -q install
script:
  - python setup.py test
