{% extends 'djam/__base.html' %}

{% load floppyforms djam %}

{% block body_classes %}model-list {{ block.super }}{% endblock %}

{% block main %}
  <div class='navbar navbar-default'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#list-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">{{ verbose_name_plural|capfirst }}</span>
    </div>
    <div class="collapse navbar-collapse" id="list-navbar-collapse">
      {# One link for collapsed, a different one for expanded. #}
      <p class='hidden-xs navbar-text'><a class='navbar-link' href="{% riff_url riff 'create' %}"><i class='fa fa-plus' title='Add a {{ verbose_name }}'></i></a></p>
      <p class='visible-xs navbar-text'><a class='navbar-link' href="{% riff_url riff 'create' %}">Add a {{ verbose_name }}</a></p>

      <form class="navbar-form navbar-right">
        {% form query_form using 'floppyforms/layouts/query.html' %}
      </form>

      {% if is_paginated %}
        <ul class='pagination navbar-pagination navbar-left'>
          {% if page_obj.has_previous %}
            <li><a href="{% url_params request.get_full_path page=page_obj.previous_page_number %}">&lsaquo;</a></li>
          {% else %}
            <li class="disabled"><span>&lsaquo;</span></li>
          {% endif %}
          {% if paginator.num_pages <= 5 %}
            {% for num in paginator.page_range %}
              <li{% if num == page_obj.number %} class='active'{% endif %}><a href="{% url_params request.get_full_path page=num %}">{{ num }}</a></li>
            {% endfor %}
          {% else %}
            {% if page_obj.number > 2 %}
              <li><a href="{% url_params request.get_full_path page=1 %}">1</a></li>
              {% if page_obj.number > 3 %}
                <li class="disabled"><span>&hellip;</span></li>
              {% endif %}
            {% endif %}

            {% if page_obj.has_previous %}
              <li><a href="{% url_params request.get_full_path page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}

            <li class='active'><a href="{% url_params request.get_full_path page=page_obj.number %}">{{ page_obj.number }} <span class="sr-only">(current)</span></a></li>

            {% if page_obj.has_next %}
              <li><a href="{% url_params request.get_full_path page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
            {% endif %}

            {% if paginator.num_pages > 1 and page_obj.number < paginator.num_pages|add:"-1" %}
              {% if page_obj.number < paginator.num_pages|add:"-2" %}
                <li class="disabled"><span>&hellip;</span></li>
              {% endif %}
              <li><a href="{% url_params request.get_full_path page=paginator.num_pages %}">{{ paginator.num_pages }}</a></li>
            {% endif %}
          {% endif %}
          {% if page_obj.has_next %}
            <li><a href="{% url_params request.get_full_path page=page_obj.next_page_number %}">&rsaquo;</a></li>
          {% else %}
            <li class="disabled"><span>&rsaquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
      <p class='navbar-text'>
        {% if is_paginated %}
          {{ page_obj.start_index }} – {{ page_obj.end_index }} of {{ paginator.count }}
        {% else %}
          1 – {{ object_list|length }} of {{ object_list|length }}
        {% endif %}
      </p>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        {% for column in columns %}
          {% with order=column|order:query_form %}
            <th class="order{% if '-'|add:order == query_form.order.value %} desc{% elif order == query_form.order.value %} asc{% endif %}"{% if order %} data-order='{{ order }}'{% endif %}>{{ column|column }}</th>
          {% endwith %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          {% for column in columns %}
            {% if column in link_columns %}
              <td><a href="{% riff_url riff 'update' pk=object.pk %}">{{ column|column:object }}</a></td>
            {% else %}
              <td>{{ column|column:object }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
