{% extends 'djam/__base.html' %}

{% load floppyforms djam %}

{% block body_classes %}model-list {{ block.super }}{% endblock %}

{% block main %}
  <div class='navbar navbar-default'>
    <span class='navbar-brand'>{{ verbose_name_plural|capfirst }}</span>
    <ul class='nav navbar-nav'>
      <li class="divider-vertical"></li>
      <li><a href="{% riff_url riff 'create' %}"><i class='icon-plus' title='Add a {{ verbose_name }}'></i></a></li>
      <li class="divider-vertical"></li>
    </ul>
    <form class="navbar-form pull-right">
      {% form query_form using 'floppyforms/layouts/query_form.html' %}
    </form>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        {% for column in columns %}
          {% with order=column|order:query_form %}
            <th class="order{% if '-'|add:order == query_form.order.value %} desc{% elif order == query_form.order.value %} asc{% endif %}"{% if order %} data-order='{{ order }}'{% endif %}>{{ column|column }}</th>
          {% endwith %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          {% for column in columns %}
            {% if column in link_columns %}
              <td><a href="{% riff_url riff 'update' pk=object.pk %}">{{ column|column:object }}</a></td>
            {% else %}
              <td>{{ column|column:object }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
