{% extends 'djam/__base.html' %}

{% load i18n djam floppyforms %}

{% block main %}
    <div class="row">
        <form method='post' action='{{ request.path }}' class="form-horizontal">
            {% csrf_token %}
            {% form form using "floppyforms/layouts/bootstrap-horizontal.html" %}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
                    {% if form.instance.pk %}
                        <a class='btn btn-danger' href="{% riff_url riff 'delete' pk=form.instance.pk %}">Delete</a>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
