{% extends "djam/__base.html" %}
{% load i18n static floppyforms %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "djam/stylesheets/login.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
{% endblock %}

{% block body_classes %}{{ block.super }} login{% endblock %}

{% block body %}
    <div class="container">
        <div class="login-pod">
            <h1 class="title-bar-dark">{{ base_riff.display_name }}</h1>
            <div class="l-padded">
                <form class="login-form" method="post">
                    {% csrf_token %}
                    {% form form using "floppyforms/layouts/bootstrap-horizontal.html" %}
                    {% if redirect_field_name and redirect_to %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_to }}" />
                    {% endif %}
                    <div class="control-group">
                        <button type="submit" class="btn btn-large btn-primary btn-block">{% trans "Log In" %}</button>
                    </div>
                </form>
            </div>{# /.l-padded #}
        </div>{# /.login-pod #}
    </div>{# /.container #}
{% endblock %}