{% extends "djam/__base.html" %}
{% load i18n %}

{% block breadcrumb %}{% endblock %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        {% if redirect_field_name and redirect_to %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_to }}" />
        {% endif %}
        <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class='fa fa-user fa-fw'></i></span>
                <input name="username" type="text" class="form-control" placeholder="Username">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class='fa fa-key fa-fw'></i></span>
                <input name="password" type="password" class="form-control" placeholder="Password">
            </div>
            <div class="control-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans "Log In" %}</button>
            </div>
        </div>
    </form>
{% endblock %}