# Dependencies.
django==1.11.29
django-floppyforms==1.1

# For testing.
tox==1.4.3
django-nose==1.1
nose==1.2.1
blessings==1.5
mock==1.0.1
py==1.4.13
virtualenv==1.9.1

# For example app.
south==0.8.1
