@import "overrides/patuaone";

@import "overrides/login";
@import "overrides/widgets";
@import "overrides/dropdowns";
@import "overrides/models";

// Base
// ==================================================

h1, h2, h3, h4, .brand {
    font-family: "Patua One", "Century Schoolbook", Georgia, serif;
    font-weight: normal;
}

body {
    padding-top: 60px; // make space for a fixed 40px navbar
    background: #FFF image-url('brilliant.png');

    @media (max-width: 979px) {
        padding-top: 0;
    }
}


// Chosen
// ==================================================

.chzn-container {
	font-size: $baseFontSize;
}

.chzn-container-single .chzn-single{
	line-height: $baseLineHeight;
	height: $baseLineHeight;
	padding-top: 4px;
	padding-bottom: 4px;
}

.chzn-container .chzn-results li {
	line-height: $baseLineHeight;
}

.chzn-container-single .chzn-single abbr,
.chzn-container-single .chzn-single div b {
	margin-top: 2px;
	margin-bottom: 2px;
}

.chzn-container-single .chzn-search input{
	// uses border-box.
	height: 28px;
}
