@import "../fonts/patuaone.css"

@import compass/css3/border-radius

// Base
// ==================================================

h1, h2, h3, h4, .brand
	font-family: "Patua One", "Century Schoolbook", Georgia, serif
	font-weight: normal

body
	margin-top: 60px // make space for a fixed 40px navbar
	background: #FFF image-url('brilliant.png')

// Micro Layout
// ==================================================

.l-padded
	padding: 10px

// Modules
// ==================================================

// titles

.title-bar-dark
	text-align: center
	text-shadow: 0 -1px 0 black
	background-color: #222
	background-image: -webkit-linear-gradient(top, #444444, #222222)
	background-image: -moz-linear-gradient(top, #444444, #222222)
	background-image: linear-gradient(top, #444444, #222222)
	border-top: 1px solid #555
	border-bottom: 1px solid #000
	margin: 0 0 20px 0
	padding: 10px
	color: #FFF
	letter-spacing: 2px

// navs

.nav-widgets > li
	border: 1px solid #E5E5E5
	margin-bottom: 20px
	background: #FFF
	+border-radius(5px)

.nav-widgets > li > h2
	margin: 0

.nav-widgets > li > h2 > a
	padding: 8px 14px
	color: inherit
	display: block

.nav-widgets > li > h2 > a:hover
	background: #EEE
	text-decoration: none

.nav-horizontal
	margin: 0

.nav-horizontal > li
	display: inline-block

.nav-horizontal > li > a
	padding: 8px 14px