{% load floppyforms djam %}
{% for field in form.hidden_fields %}
    {{ field.as_hidden }}
{% endfor %}

{% if form.has_filters %}
    <div class='btn-group'>
        <a class="btn dropdown-toggle {% if form.has_active_filters %}btn-primary{% else %}btn-default{% endif %}" data-toggle="dropdown" href="#">
            Filters <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
            {% for field in form.visible_fields %}
                {% if field.name != 'search' and field.name != 'order' %}
                    {% formrow field using 'floppyforms/rows/dropdown.html' %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if 'order' in form.fields %}<div class='hidden'>{% formfield form.order %}</div>{% endif %}

{% if form.search %}
    <div class='form-group'>
        {% formfield form.search with placeholder='Search…' %}
    </div>
{% endif %}
{% if form.has_filters or form.search %}
    <button class='btn btn-default' type='submit'><i class='fa fa-search' title='Search'></i></button>
{% endif %}
