{% load floppyforms djam %}

{% for field in form.hidden_fields %}
    {{ field.as_hidden }}
{% endfor %}

{% if form.has_filters %}
    <div class='btn-group'>
        <a class="btn dropdown-toggle{% if form.has_active_filters %} btn-primary{% endif %}" data-toggle="dropdown" href="#">
            Filters <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
            {% for field in form.visible_fields %}
                {% if field.name != 'search' and field.name != 'order' %}
                    {% formrow field using 'floppyforms/rows/dropdown.html' %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if 'order' in form.fields %}{% formfield form.order %}{% endif %}

{% if form.search %}
    {% formfield form.search with placeholder='Search' class='search-query' type='search' %}
{% endif %}
