{% load static %}

<!DOCTYPE html>
<html>

	<head>

		{% block meta %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		{% endblock %}

		<title>{% block title %}{% if page_title %}{{ page_title }} – {% endif %}{% for riff in riff.path reversed %}{{ riff.display_name }}{% if not forloop.last %} – {% endif %}{% endfor %}{% endblock %}</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="{% static "djam/libs/bootstrap/css/bootstrap.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
			<link rel="stylesheet" href="{% static "djam/css/djam.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">
		{% endblock %}

		{% block scripts %}
			<script src="{% static "djam/libs/jquery-1.8.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
			<script src="{% static "djam/libs/bootstrap/js/bootstrap.min.js" %}" type="text/javascript" charset="utf-8"></script>
		{% endblock %}

	</head>

	<body class="{% block body_classes %}django-djam{% endblock %}">
		{% block body %}

			{% block nav %}
				{% include "djam/_nav.html" %}
			{% endblock %}

			<div class="container">
				{% block breadcrumb %}
					<ul class="breadcrumb">
						{% for crumb in riff.path %}
							{% if forloop.last and not page_title %}
								<li class="active">{{ riff.display_name }}</li>
							{% else %}
								<li><a href="{{ crumb.get_default_url }}">{{ crumb.display_name }}</a> <span class="divider">/</span></li>
							{% endif %}
						{% endfor %}
						{% if page_title %}
							<li class="active">{{ page_title }}</li>
						{% endif %}
					</ul>
				{% endblock %}
				{% block main %}
				{% endblock %}
			</div>

		{% endblock %}
	</body>

</html>