{% load i18n %}
{% csrf_token %}
{% for error in form.non_field_errors %}
    <div class="alert alert-error">
        {{ error }}
    </div>
{% endfor %}
{% for field in form.visible_fields %}
    <div class="control-group{% if field.errors %} error{% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {% for error in field.errors %}
            <div class="alert alert-error">
                {{ error }}
            </div>
        {% endfor %}
    </div>
{% endfor %}
{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}
