{% extends 'djam/__base.html' %}

{% load i18n djam floppyforms %}

{% block main %}
    <div class="row">
        {% with form_method=form_method|default:"post" %}
        <form method='{{ form_method }}' action='{% block form_action %}{{ form_action|default:request.path }}{% endblock %}' class="form-horizontal"{% if form_method == "post" %} enctype='multipart/form-data'{% endif %}>
            {% if form_method == "post" %}{% csrf_token %}{% endif %}
            {% form form using "floppyforms/layouts/bootstrap-horizontal.html" %}
            <div class="form-actions">
                {% block actions %}
                    <button type="submit" class="btn btn-success">{% block success-text %}{% trans "Submit" %}{% endblock %}</button>
                {% endblock %}
            </div>
        </form>
        {% endwith %}
    </div>
{% endblock %}
