{% extends 'djam/__base.html' %}

{% load i18n djam floppyforms %}

{% block main %}
    <div class="row">
        {% with form_method=form_method|default:"post" %}
        <form method='{{ form_method }}' action='{% block form_action %}{{ form_action|default:request.path }}{% endblock %}' class="form-horizontal"{% if form_method == "post" %} enctype='multipart/form-data'{% endif %}>
            {% if form_method == "post" %}{% csrf_token %}{% endif %}
            {% form form using "floppyforms/layouts/bootstrap-horizontal.html" %}
            {% if formsets %}
                {# Workaround until formset fieldsets are supported, or until {% form ... only %} is fixed. #}
                {# see https://github.com/brutasse/django-floppyforms/issues/73 #}
                {% with fieldsets='' %}
                    {% for formset in formsets %}
                        {{ formset.management_form }}
                        <h1>{{ formset.verbose_name_plural|title }}</h1>
                        {% for form in formset.forms %}
                            <h2><a data-toggle="collapse" href="#formset-{{ forloop.parentloop.counter }}-form-{{ forloop.counter }}">{% if form.instance.pk %}{{ form.instance }}{% else %}New {{ formset.verbose_name }}{% endif %} <i class='icon-angle-down'></i></a></h2>
                            <div id="formset-{{ forloop.parentloop.counter }}-form-{{ forloop.counter }}" class='collapse'>
                                {% form form using "floppyforms/layouts/bootstrap-horizontal.html" %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endwith %}
            {% endif %}
            <div class='row'>
                <div class="col-lg-10 col-lg-offset-2">
                    {% block actions %}
                        <button type="submit" class="btn btn-success">{% block success-text %}{% trans "Submit" %}{% endblock %}</button>
                    {% endblock %}
                </div>
            </div>
        </form>
        {% endwith %}
    </div>
{% endblock %}
